body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('1.jpg') no-repeat center center fixed;
    background-size: cover;
    flex-direction: column;
}

.container {
    text-align: center;
    padding: 20px;
    background: rgba(70, 150, 24, 0.5);
    border-radius: 10px;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: rgb(21, 20, 20);
    text-shadow: 2px 2px 4px #6d6930;
    text-align: center;
    padding: 20px;
    background: rgba(99, 137, 37, 0.5);
    border-radius: 10px;
}


@media only screen and (max-width:600px) {
    body {
        flex-direction: column;
        background-image: url(2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
        font-size:9px;
        margin-bottom:60%;
    } 
    .container input{
        font-size:12px;
        margin-bottom:5% ;
        color: rgb(14, 27, 27);
    } 
    .container h1{
        color:bl;
    }

    #message {
        position: absolute;
        text-align: center;
        top: 18%;
        background: rgba(99, 137, 37, 0.5);
        border: 2.3px solid yellowgreen;
        transform: translate(-50%, -50%);

    }
}

@media (max-width: 480px) {
    #message {
        font-size: 1em;
    }
}
